.avatar {
  width: 120px;
  height: 120px;
  background: center / cover;
  border-radius: 50%;
  margin-bottom: 26px;
  background-image: url('../../images/img_Jav-Iv-Custo.jpg');
}

@media (min-width: 640px) {
  .avatar {
    margin-bottom: 0;
  }
}